* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    height: 100vh;
    background-color: rgb(254, 245, 154);
    display: flex;
}

aside {
  background-color: rgb(242, 243, 233);
  width: 300px;
  padding: 20px;
}

section {
  flex: 1;
}

/* aside style */

li {
  background-color: rgb(164, 255, 164);
  margin-bottom: 10px;
  border-radius: 5px;
  text-align: left;
}

li small {
  display: block;
}